* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Bai Jamjuree", sans-serif;
}

/* color */
:root {
  --Black-100: #020301;
  --Black-20: #cecfcd;
  --Black-30: #9e9f9a;
  --Black-50: #3d3f35;
  --Black-60: #0c0f03;
  --Black-70: #0a0c02;
  --Blue: #3463e5;
  --Green: #01cc65;
  --Primary: #c8f031;
  --White: #ffffff;
  --color1: #120435;
  --color2: #000000;
  --color3: #faffe8;
}
body {
  background: var(--White);
}
/* nav-bar */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 6.25rem;
  border-bottom: 1px solid var(--Black-20);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}
ul {
  display: flex;
  align-items: center;
  gap: 2.75rem;
}

#section-1 {
  max-width: 100%;
  max-height: 100%;
  height: 75.1vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 6.25rem;
}
#logo {
  color: var(--Black-100);
  font-family: "Bai Jamjuree";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.menu {
  color: var(--Black-100);
  font-family: "Bai Jamjuree";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
#nmenu {
  display: none;
}
#firstt {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2.125rem;
}
#firstt h3 {
  color: var(--Black-70);
  font-family: "Bai Jamjuree";
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
#firstt h1 {
  color: var(--Black-100);
  font-family: "Bai Jamjuree";
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
#firstt p {
  width: 60%;
  color: var(--Black-50);
  font-family: "Bai Jamjuree";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#butn {
  display: flex;
  gap: 1.5rem;
}
#butn1 {
  display: flex;
  padding: 0.6875rem 2.125rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  border: 1px solid var(--Black-60);
  background: var(--Primary);
  color: #000;
  font-family: "Bai Jamjuree";
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
#butn2 {
  display: flex;
  padding: 0.6875rem 2.125rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  border: 1px solid var(--Black-60);
  background: var(--White);
  color: #000;
  font-family: "Bai Jamjuree";
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
#img {
  display: flex;
  flex-shrink: 0;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  background: url(skfeejan.png) lightgray 50% / cover no-repeat;
  background-color: var(--Primary);
  float: right;
}
#svgg {
  width: 100%;
  position: relative;
  bottom: 0;
}
#svg {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 6.25rem;
  background: #0c0f03;
}
#section-2 {
  display: flex;
  width: 100%;
  padding: 6rem 6.25rem;
  gap: 4.875rem;
  flex-shrink: 0;
  background: #faffe8;
}
#svgg1 {
  position: relative;
  top: 0;
  flex-shrink: 0;
}
#s2h3 {
  width: 35%;
  color: var(--Black-100, #020301);
  font-family: "Bai Jamjuree";
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
}
#element1 {
  display: flex;
  flex-direction: column;
  padding: 2.625rem 1.375rem 2.5625rem 1.4375rem;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--Black-100, #020301);
  background: var(--Primary);
  gap: 0.75rem;
  position: relative;
  left: 12rem;
  top: -2.2rem;
}
#element1:hover {
  transition: all 0.5s ease;
  box-shadow: 5px 5px 0px 0px #000;
}
#element1 h3 {
  color: var(--Black-100, #020301);
  font-family: "Bai Jamjuree";
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#element p {
  color: var(--Black-100, #020301);
  font-family: "Bai Jamjuree";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#element2 {
  display: flex;
  flex-direction: column;
  padding: 2.5625rem 0.96875rem 2.625rem 0.96875rem;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--Black-100, #020301);
  background: var(--Green);
  gap: 0.75rem;
  position: relative;
  right: -12rem;
  bottom: -3.3rem;
}
#element2:hover {
  transition: all 0.5s ease;
  box-shadow: 5px 5px 0px 0px #000;
}
#element2 h3 {
  color: var(--Black-100, #020301);
  font-family: "Bai Jamjuree";
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#element2 p {
  color: var(--Black-100, #020301);
  font-family: "Bai Jamjuree";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
